# Secrets & Passwords (CRITICAL)
.env
.env.*
*.pem

# Dependencies (Heavy Folders)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build & Cache Folders
dist/
build/
.turbo/
.cache/

# System Files
.DS_Store
Thumbs.db